#!/bin/bash
#******************************************************************************
# Copyright 2019 the original author or authors.                              *
#                                                                             *
# Licensed under the Apache License, Version 2.0 (the "License");             *
# you may not use this file except in compliance with the License.            *
# You may obtain a copy of the License at                                     *
#                                                                             *
# http://www.apache.org/licenses/LICENSE-2.0                                  *
#                                                                             *
# Unless required by applicable law or agreed to in writing, software         *
# distributed under the License is distributed on an "AS IS" BASIS,           *
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
# See the License for the specific language governing permissions and         *
# limitations under the License.                                              *
#******************************************************************************/

#==============================================================================
# SCRIPT:       envrc
# AUTOHR:       Markus Schneider
# CONTRIBUTERS: Markus Schneider,<YOU>
# DATE:         2019-05-26
# REV:          0.1.0
# PLATFORM:     Noarch
# PURPOSE:      Shell environment file
#==============================================================================

export PROJECT_HOME=$(pwd)
export PROJECT_NAME="miniobs"

## SET PASSWORD FOR USER ELASTIC
#PW=$(openssl rand -base64 16;)
#PW="geSTiSClynE6ZmkIkYmwWw=="
PW="changeme"
ELASTIC_PASSWORD="${ELASTIC_PASSWORD:-$PW}"
export ELASTIC_PASSWORD

PATH=$PROJECT_HOME/scripts:$PATH

## ALIASES FOR elastack
alias cmd="alias | grep 'x_'"

## INSTALL/UNINSTALL COMMANDS
alias x_inst="bootstrap.sh"
alias x_uninst="docker-compose -f $PROJECT_HOME/docker-compose.yml down -v"
alias x_rm="remove.sh"

