**/*~
# We wanna ignore any resources/ssl/etc.. type file. As the setup container will create these for us.

resources/elasticsearch/elasticsearch.crt
resources/elasticsearch/elasticsearch.key
resources/elasticsearch/elasticsearch.keystore
resources/kibana/kibana.crt
resources/kibana/kibana.key
resources/kibana/kibana.keystore
resources/logstash/logstash.crt
resources/logstash/logstash.key
resources/logstash/logstash.keystore
resources/ssl/ca/ca.crt
resources/ssl/ca/ca.key
resources/ssl/docker-cluster-ca.zip
resources/ssl/docker-cluster.zip

resources/apm-server/beats.keystore
resources/auditbeat/beats.keystore
resources/filebeat/beats.keystore
resources/heartbeat/beats.keystore
resources/journalbeat/beats.keystore
resources/metricbeat/beats.keystore
resources/packetbeat/beats.keystore
